
@{
    ViewBag.Title = "GoogleLogout";
}

<h2>GoogleLogout</h2>
<input type="button" value="Go to ExternalAuth Page" onclick="Navg()" />

<script>
    function Navg() {
        window.location.href = "/PayTale.API/ExternalAuth.html";

    }
</script>
